<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.2.0" targetFramework="net20" requireReinstallation="true" />
  <package id="GroupControls" version="1.8.0" targetFramework="net20" requireReinstallation="true" />
  <package id="Theraot.Core" version="2.1.0" targetFramework="net20" requireReinstallation="true" />
  <package id="TimeSpan2" version="2.2.0" targetFramework="net20" requireReinstallation="true" />
  <package id="Tulpep.ActiveDirectoryObjectPicker" version="2.3.133" targetFramework="net20" />
  <package id="Vanara.Compatibility.EventLog" version="1.0.1" targetFramework="net20" />
  <package id="Vanara.Core" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.AclUI" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.BITS" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.ComCtl32" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.CredUI" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.DwmApi" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Gdi32" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.IpHlpApi" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Kernel32" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Mpr" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.NetListMgr" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.NTDSApi" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Ole" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Security" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Shared" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Shell32" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.ShlwApi" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.User32" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.User32.Gdi" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.UxTheme" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.VirtDisk" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.PInvoke.Ws2_32" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.Security" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.SystemServices" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
  <package id="Vanara.Windows.Forms" version="2.1.1" targetFramework="net20" requireReinstallation="true" />
</packages>