<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TestTaskService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TestTaskService.Properties.Settings>
            <setting name="WatchFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="IDsFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelsFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="TestCodeText" serializeAs="String">
                <value>output.WriteLine(ts.HighestSupportedVersion);</value>
            </setting>
            <setting name="MainInput" serializeAs="String">
                <value />
            </setting>
        </TestTaskService.Properties.Settings>
    </userSettings>
</configuration>
